.wrapper {
  padding-top: 50px;
  background:whitesmoke;
  /* margin: 1em; */
  margin: 0;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
 div.wrapper {
   padding: 0;
 }

 nav {
   padding-top: 30px;
   padding-bottom: 100px;
   padding-left: auto;
   padding-right: auto;
   border: 1px solid #979898;
   background-color: #393e46;
 }
