.header {
  width: 100%;
  font-size: 2rem;
  margin-bottom: 50px;
}

.title {
  padding-left: 40px;
  float: left;
  font-family: 'Baumans', cursive;
  font-size: 40px;
}

.scores {
  padding-right: 40px;
  float: right;
  font-family: 'Baumans', cursive;
  font-size: 40px;
}

